body {
  background-color: lightblue;
}

#filters img{
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;    /* center horizontally */
  justify-content: center; /* optional vertical centering */
  width: 50px;
  cursor: pointer;
}

.highlight {
  background-color: #ffeb3b;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

}