body {
  background-color: lightblue;
}

#filters img{
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;    /* center horizontally */
  justify-content: center; /* optional vertical centering */
  width: 50px;
  cursor: pointer;
}

